{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard </h1>

<ul>
    <li><a href="users/add">Add Users</a> </li>
    <li><a href="jobs/add">Add Jobs</a>  </li>
    <li><a href="project/add">Add Projects</a>  </li>
</ul>
<br><br>   
<a href="logout">Logout</a>
{% endblock %}